* {
    box-sizing: border-box;
}


#header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#offre {
    background-color: aquamarine;
}

#page_body {
    background-color:antiquewhite;
    margin: 0%;
    
}

.body_carte {
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    margin: 10%;
    
    
}

.ensemble_carte{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    
}

