* {
    box-sizing: border-box;
}


#header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#offre {
    background-color: aquamarine;
}

#page_body {
    background-color:antiquewhite;
    margin: 0%;
}

.body_carte {
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: 5%;
}

.ensemble_carte{
    display: flex;
    
}

