* {
    box-sizing: border-box;
}


#header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

#offre {
    background-color: aquamarine;
}

#page_body {
    background-color:antiquewhite;
    margin: 0%;
    
}

.body_carte {
    background-color: rgba(166, 208, 235, 0.528);
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    width: 80%;
    margin: 10%;
    padding: 5%;
    
    
}

.ensemble_carte{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    
}

.img_desti {
    max-height: 50vh;
    border-radius: 4%;
}
.nom_destination {
    font-family : Times, Times New Roman, serif;
    font-size: 30px;
    margin: 15px;

}


